USE [master]
GO
/****** Object:  Database [Familija]    Script Date: 14.10.2021. 14:42:30 ******/
CREATE DATABASE [Familija]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Familija', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Familija.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Familija_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Familija_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Familija].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Familija]
GO
/****** Object:  Table [dbo].[BiografijaT]    Script Date: 14.10.2021. 14:42:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BiografijaT](
	[id] [int] NOT NULL,
	[nivoObrazovanje] [nvarchar](50) NOT NULL,
	[iskustvo] [nvarchar](50) NOT NULL,
	[vjestine] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BiografijaT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KorisnikT]    Script Date: 14.10.2021. 14:42:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KorisnikT](
	[id] [int] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[tip] [int] NOT NULL,
	[lozinka] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KorisnikT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OsobaT]    Script Date: 14.10.2021. 14:42:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OsobaT](
	[id] [int] NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[adresa] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](50) NOT NULL,
	[idR] [int] NULL,
	[idS] [int] NULL,
	[idB] [int] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OsobaT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OsobaT]  WITH CHECK ADD  CONSTRAINT [FK_OsobaT_OsobaT1] FOREIGN KEY([idR])
REFERENCES [dbo].[OsobaT] ([id])
GO
ALTER TABLE [dbo].[OsobaT] CHECK CONSTRAINT [FK_OsobaT_OsobaT1]
GO
ALTER TABLE [dbo].[OsobaT]  WITH CHECK ADD  CONSTRAINT [FK_OsobaT_OsobaT3] FOREIGN KEY([idS])
REFERENCES [dbo].[OsobaT] ([id])
GO
ALTER TABLE [dbo].[OsobaT] CHECK CONSTRAINT [FK_OsobaT_OsobaT3]
GO
USE [master]
GO
